{% extends "Templates/base_footer" %}

{% block content %}

<div class="container-fluid bg-primary pt-3 pb-5">
<h1 class="fs-1 text-center corsivo text-white mb-5">
    Squadre
</h1>

<div x-data="{myteam: '{{myteam}}', teams : [
    {% for team in teams %}
        {
            id: {{team.id}},
            name: '{{team.name}}',
            user_count: {{team.users | query_count}}
        },
    {% endfor %}
] }">
    <template x-for="team in teams" :key="team.id">

        <div class="card shadow-xl my-2">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h3 class="corsivo my-0" x-text="team.name"></h3>
                    </div>
                    <div class="col col-auto fw-bold text-primary">
                        <span x-text="team.user_count"></span>/15
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col col-auto">
                        <a data-bs-toggle="modal"  hx-target="#teamModal .modal-content" hx-swap="innerHtml" :hx-get="'{{"team/listUsers/" | url}}' + team.id"  role="button" data-bs-target="#teamModal"  class="btn btn-sm btn-outline-primary"><i
                                class="bi bi-eye me-1"></i>Dettagli</a>
                    </div>



                    <div x-show="team.user_count < 15" class="col ms-auto col-auto">
                        <a @click="myteam = ''; team.user_count--;" x-cloak x-show="myteam && myteam == team.id" hx-get="{{"team/removeUser" | url}}" hx-swap="none" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash-fill me-1"></i>Elimina
                        </a>
                        <a x-cloak x-show="!myteam" @click="myteam = team.id; team.user_count++;" :hx-get="'{{"team/addUser/" | url}}' + team.id" hx-swap="none" class="btn btn-sm btn-primary">
                            <i class="bi bi-plus me-1"></i>Iscriviti
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </template>

</div>

<div class="modal fade" id="teamModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>


{% endblock %}