    <div class="modal-header">
        <h2 class="modal-title corsivo">{{team_name}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <h5 class="text-primary fw-bold">Membri</h5>
    <ul class="list-group">
        {% for member in members %}
        <li class="list-group-item">{{ member.user.name }} {{member.user.surname}} </li>
        {% endfor %}
    </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Indietro</button>
    </div>
